<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: "Compile SQL to type-safe code" }} | sqlc.dev</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
    <link rel="canonical" href="{{ site.url }}{{ page.url | default: '/'}}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="{{ site.url }}{{ page.url | default: '/'}}" />
    <meta property="og:image" content="{{ site.url }}/{{ page.image | default: 'img/home.png'}}" />
    <meta property="og:title" content="{{ page.title | default: 'Compile SQL to type-safe code' }}" />
    <meta property="og:site_name" content="sqlc.dev" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="og:description" content="{{ page.excerpt | default: 'Compile SQL to type-safe code' }}" />
    <meta property="description" content="{{ page.excerpt | default: 'Compile SQL to type-safe code' }}" />
    <script type="application/ld+json">
      {"@type":"WebSite","url":"{{ site.url }}","headline":"sqlc.dev","name":"sqlc.dev","description":"Compile SQL to type-safe code","@context":"https://schema.org"}
    </script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/banner.css">
    <link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed.xml" title="sqlc.dev" />
    <script defer data-domain="sqlc.dev" src="https://plausible.io/js/plausible.js"></script>
  </head>
  <body>
    <header id="banner" class="bg-indigo-600 text-center text-white font-medium text-lg">
      <div>Catch unsafe schema changes before they happen. See <a href="https://sqlc.dev/posts/2023/11/21/sqlc-v1-24-0-verify-schema-changes/?utm_source=sqlc-dev">what's new</a> in v1.24.0.</div>
    </header>
    <div class="relative bg-white">
      <div class="flex justify-between items-center px-4 py-6 sm:px-6 md:justify-start md:space-x-10">
        <div class="lg:w-0 lg:flex-1">
          <a href="/" class="flex">
            <img class="h-8 w-auto sm:h-10" src="/logo.png" alt="Logo">
          </a>
        </div>
        <nav class="md:flex space-x-10">
          <a href="https://docs.sqlc.dev" class="text-base leading-6 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition ease-in-out duration-150">
            Docs
          </a>
          <a href="/posts/" class="text-base leading-6 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition ease-in-out duration-150">
            Blog
          </a>
          <a href="https://play.sqlc.dev" class="text-base leading-6 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition ease-in-out duration-150">
            Playground
          </a>
          <a href="https://github.com/sqlc-dev/sqlc" class="text-base leading-6 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition ease-in-out duration-150">
            GitHub
          </a>
          <a href="https://discord.gg/EcXzGe5SEs" class="text-base leading-6 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition ease-in-out duration-150">
            Discord
          </a>
          <a href="/newsletter/" class="text-base leading-6 font-medium text-gray-500 hover:text-gray-900 focus:outline-none focus:text-gray-900 transition ease-in-out duration-150">
            Newsletter
          </a>
        </nav>
      </div>
      {{ content }}
      <footer class="text-center text-gray-500 mt-6 mb-6">
        © Copyright {{ "today" | date: "%Y" }} Riza, Inc.<br>
        Use of this site is governed by the Riza, Inc. <a style="text-decoration: underline;" href="https://www.riza.io/tos">Terms of Service</a> and <a style="text-decoration: underline;" href="https://www.riza.io/privacy">Privacy Policy</a>.
      </footer>
    </body>
  </html>
